/* When the viewport is greater than 781px */
@media (min-width: 780px) {
  body {
    font-size: 0.6em;
  }
  canvas {
    padding: 0;
    float: center;
  }
  .column-wide {
    text-align: center;
    width: 70%;
    float: left;
    min-height: 175px;
  }
  .profile-img {
    width: 208px;
    height: 208px;
  }
}

/* When the screen is less than 779px */
@media (max-width: 779px) {
  body {
    font-size: 0.6em;
  }
  nav a {
    font-size: calc(40% + 3vw);
    margin: 10px 4%;
  }
  .skills li {
    display: block;
    margin: 10px 0;
    padding-left: 0;
  }
  .content-img {
    display: none;
  }
  #extrac {
    padding: 0;
  }
  .contact-info i {
    top: 7px;
  }
  .contentinfo {
    margin: 0;
  }
}

/* When Screen is less than 480px */
@media (max-width: 375px) {
  .profile-img {
    float: center;
  }
  .expandableProject p {
    width: 60%;
  }
  nav a {
    font-size: calc(40% + 3.5vw);
    margin: 10px 2%;
  }
}
