/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* Global styles
------------------------------------*/
/* Remove bar */
img[alt="www.000webhost.com"] {
  display: none;
}
/* border box fix */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* background-color: Black; */
}

/* Global Element Styling */
a {
    color: rgb(255,178,0);
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 6em;
}
h2 {
  font-size: 3em;
  font-weight: bold;
  margin-top: 0;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
}
li, dl {
  font-size: 1.8em;
  margin: 5px 0;
}
dd {
  padding-left: 10px;
}
dt {
  font-size: 1.1em;
	font-weight: 400;
}
canvas {
  border-radius: 10px;
}

/* Class Styling */
.content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.column-narrow {
  width: 35%;
  padding-right: 3%;
  min-height: 175px;
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.center {
  float: center;
}

[alt] {
  font-weight: 400;
}
.content-img {
  margin: 0 100px;
}


/* Navigation Styles
************************/
nav {
  background: rgba(2, 10, 39, 0.9) !important/* */;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}
nav ul {
  margin: 0;
  padding: 0;
  width: 95%;
  background: rgba(0, 0, 0, 0.95)
}
nav a {
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  font-size: calc(40% + 2vw);
  margin: 10px 7%;
  /* padding: 15px 5px; */
  /* width: 45%; */
  text-decoration: underline;
  color: #69b22c;
}
nav a:hover {
  color: White;
}


/* Header styles
------------------------------------*/
header {
  background: linear-gradient(rgba(0,0,100, 0.19), rgba(0,0,0, 0.1)), url(http://patrickbiel.com/images/star-scape-cropped.jpg) no-repeat fixed;
  background-size: cover;
  color: Black;
}
header h1,
header h2 {
    color: White;
    margin: 0;
}
header h2 {
  font-size: 4em;
  margin: 0;
}
header h1 + h2 {
  margin-top: 30px;
}
header h1 {
    margin-top: 100px;
}
#about {
  margin: 0;
}
.profile-img {
  border-radius: 50%;
  float: right;
}

/* Contact Link Styles */
.contact-info {
  text-align: center;
  margin: 50px 0 30px 0;
}
.contact-info a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 10px 30px;
  font-size: 1.5em;
  line-height: 2em;
  color: White;
}
.contact-info i {
  font-size: 2em;
  margin-right: 10px;
  position: relative;
  top: 10px;
}

/* Footer styles */
footer {
  background: rgb(18, 18, 18);/*#2B2D42  Blackish Blue */
  color: White/* #8D99AE Grey */
  text-align: center;
}
footer p {
  margin: 0;
  text-align: center;
}

/*  Content Tabs
------------------------------------*/
section {
  background: rgb(30, 85, 90)/*rgb(24, 22, 33)*/; /* Slightly Transparent SteelBlue */
}
.final-contact {
  background: rgb(18, 18, 18);/* rgba(0, 0, 0, 0.95) */
  text-align: center;
}
.contact-link {
  color: rgb(57,255,20);
}
.skills {
  background: rgb(50, 50, 50) /* rgba(0, 0, 0, 0.85) */ ;
}
.project-section {
  background: rgb(220,220,210)
}

/* Extra-Cirricular
------------------------------------*/
.e-cirr h3 {
  font-size: 2em;
}
.e-cirr li {
  font-size: 1.7em;
  font-weight: 500;
}
.e-cirr li li {
  font-size: 0.9em;
  font-weight: 500;
}
.e-cirr p {
  margin-top: 0px;
  margin-bottom: 20px;
}
#extrac {
  margin-bottom: 10px;
}

/* About Section
------------------------------------*/
.skills {
  overflow: visible;
}
.skills h2 {
  text-align: center;
}
.skills li {
  display: block;
  margin: 10px 0;
  padding-left: 5%;
}
.section {
  margin: 30px 0;
}
.skills p {
  text-align: center;
}

/* Projects Section */
.total-project-box {
    margin: 10px 5px;
}
.total-project-box h4 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: -10px;
  padding-right: 5px;
  font-size: 1.4em;
}
.expandableProject {
  background-color: rgb(35, 35, 255)/*  Blue  */;
  margin: 0;
  border: solid 3px Black;
  border-radius: 5px;
  font-weight: bold;
}
.expandableProject p {
  display: inline-block;
  padding-left: 4px;
  font-size: 2.4em;
  margin: 0 10px;
  width: 75%;
  text-align: left
}
.expandBtn {
  float: right;
  border: solid 1px Black;
  border-radius: 20px;
  height: 37px;
  width: 37px;
  font-size: 2em;
  margin-right: 5px;
  margin-top: 0;
  cursor: pointer;
  background-color: rgb(51, 153, 255);
}
.expandBtn:hover {
  background-color: rgb(51, 102, 255);
}

.featureList {
    font-size: 0.55em;
    font-weight: normal;
    list-style-type: square;
}
.featuresContainer {
    margin-left: 35px;
}
.relicRaceShot {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}
.long-description {
    margin-left: 20px;
    margin-top: 17px;
}
.projectContainer{
  background-color: rgb(0, 153, 153);
  margin-left: 20px;
  padding-left: 30px;
  display: none;
  font-size: 1.6em;
}


/* Dynamically Resizing Images */
#umsd-screenshot {
    max-width: 100%;
    height: auto;
}

/* Centering Animation */
#canvasContainer {
    margin: 5px 0px 10px 1px;
}
#githubIcon {
  z-index: 0;
}
#linkedinIcon {
  z-index: 0;
}
