.project-image-card {
    background-image: url("../resources/model.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    z-index: 1;
    position: relative;
}

.blur-container {
    height: 100vh;
    width: 100vw;
    /* filter: blur(300px); */
    background-color: rgba(256 , 256,256,0.6);
    z-index: 2;
}

.clearText {
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50vh;
    z-index: 3;
}